.datepicker .active {
  background: $blue !important;
}

.datepicker-inline {
  width: 100%;

  .table-condensed {
    width: 100%;
  }

  td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 20px;
    font-family: $agora-l, sans-serif;
    color: $gray-1;
  }

  th {
    font-size: 18px;
    color: $gray-1;
    font-family: $agora-l, sans-serif;
    text-transform: lowercase;

    &:nth-child(6),
    &:nth-child(7) {
      color: red;
    }
  }

  & + .btn {
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

.datepicker-inline.datepicker {
  margin-top: 20px;
  margin-bottom: 20px;
}
