.footer {
  background-color: $blue;
  color: #fff;
  height: 50px;
  padding-top: 14px;
}

.footer-nav {
  & > li {
    margin-right: 35px;
  }

  & > li > a {
    color: #fff;
    padding: 1px 12px;

    &:hover,
    &:focus,
    &.active {
      color: $blue;
      background-color: #fff;
    }
  }
}
