.event-search {
  margin-bottom: 20px;

  .col-sm-3 {
    max-width: 247px;
  }

  .col-sm-2,
  .col-sm-10 {
    padding: 0;
  }

  button {
    border: 0;
    background: none;
    color: $gray-2;
  }
}

.event-search__toggler {
  color: $gray-1;
  font-size: 18px;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000;
  }

  .fa {
    font-size: 10px;
    vertical-align: middle;
    margin-left: 10px;
  }
}

.event-search__field {
  border: 0;
  border-bottom: 1px solid $gray-2;
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  display: block;
  width: 100%;
}

.control-label {
  font-size: 16px;
  font-family: $agora-l, sans-serif;
  color: $gray-1;
}

.form-control {
  height: 30px;
  border-color: $gray-1;
}

.filter {
  *[class^="col-"] {
    padding-right: 0;
  }
}

.filter__datepickers {
  .row { margin: 0; }

  .col-sm-1 {
    .control-label {
      line-height: 30px;
    }
  }

  .col-sm-5 {
    padding: 0;
    padding-left: 10px;
  }

  .fa {
    position: absolute;
    right: 6px;
    top: 7px;
    cursor: pointer;
    color: $gray-1;
  }
}

.filter__childs {
  .form-control {
    display: inline-block;
    width: 40px;
    padding: 0 2px;
  }
}

.filter-slider__label {
  color: $gray-2;
  font-family: $agora-l, sans-serif;
}

.btn-primary {
  background-color: $pink;
  font-size: 18px;
  font-family: $agora-l, sans-serif;
  border: 0;

  &:hover,
  &:focus {
    background-color: darken($pink, 10%);
  }
}
