.super-top {
  background-color: $pink;
}

.super-top__menu {
  @include clearfix;
  @include reset;
}

.super-top__menu-item {
  float: left;
}

.super-top__menu-link {
  display: block;
  padding: 0 22px;
  font-family: $agora-l, sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 30px;

  &:hover,
  &:focus,
  &.active,
  &.super-top__menu-link--active {
    background-color: #fff;
    color: $pink;
    text-decoration: none;
  }
}

.main-header {
  background-color: #fff;
  border: 0;
  height: 93px;
  margin-bottom: 0;

  .navbar-brand {
    height: 93px;
    line-height: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-nav > li > a {
    line-height: 93px;
    padding: 0 13px;
    color: $gray-1;
    font-size: 16px;
  }
}

.main-header__tagline {
  color: $blue;
  float: left;
  margin: 0 20px;
  font-size: 14px;
  line-height: 14px;
  padding: 30px 0;
}

.navbar-nav > li.main-menu__socials > a {
  padding: 0 5px;
  margin: 38px 0;
  display: inline-block;
  float: none;
  line-height: normal;
}

.main-menu__socials { margin-right: 20px; }

.main-menu__phone {
  padding-top: 18px;
  margin-right: 20px;

  small {
    display: block;
    font-size: 13px;
    color: $gray-2;
  }

  .phone {
    display: block;
    color: $blue;
    font-size: 22px;
    font-family: $agora-m, sans-serif;
  }

  & > a {
    color: $blue !important;
    font-size: 10px !important;
    display: inline-block;
    padding: 0 !important;
    line-height: normal !important;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.main-menu__profile {
  padding-top: 25px;
}

.main-menu__profile-avatar,
.main-menu__profile-username {
  line-height: normal !important;
  padding: 0 !important;
  display: inline-block;
}

.main-menu__profile-avatar {
  float: left;
}

.main-menu__profile-username {
  margin-left: 45px;
  font-size: 14px !important;
}

.logout {
  color: $blue !important;
  font-size: 10px !important;
  display: inline-block !important;
  padding: 0 !important;
  margin-left: 5px;
  line-height: normal !important;
  text-transform: uppercase;
  text-decoration: underline;
}
