.history {
  margin-bottom: 100px;
  
  .section-title {
    margin-bottom: 20px;
  }

  .stat {
    margin-top: 83px;
  }
}

.profile-block {
  background-color: #fafafa;
  padding: 18px;
  border-radius: 4px;
}

.profile-block__avatar {
  border-radius: 50%;
  border: 2px solid $gray-2;
}

.profile-block__name {
  margin-bottom: 15px;
  font-size: 21px;
  line-height: normal;
  font-family: $agora-m, sans-serif;
}

.profile-block__regdate {
  margin-bottom: 20px;
  font-size: 14px;
  color: $gray-1;
}

.profile-block__edit {
  text-decoration: underline;
}
