.top-events {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 0;
  line-height: normal;
  font-size: 36px;
  font-weight: normal;
  font-family: $agora-m, sans-serif;
  color: $blue;
}

.section-sub-title {
  margin: 0 0 20px;
  line-height: normal;
  font-weight: normal;
  font-family: $agora-l, sans-serif;
  color: $gray-1;

  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

.event-link {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  max-height: 500px;
  position: relative;

  .event-link__overlay { display: none; }

  &:hover,
  &:focus {
    .event-link__description {
      bottom: auto;
      top: 0;
      background: none;
      z-index: 2;
    }

    .event-link__overlay {
      display: block;
      top: 0;
      background: rgba(#000, .7);
    }
  }
}

.event-link__description,
.event-link__overlay {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px 0;
  color: #fff;
  font-size: 18px;
  font-family: $agora-l, sans-serif;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );

  .col-sm-2 {
    line-height: 1;
    font-size: 60px;
  }
}

.event-link__overlay {
  .row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 20px;
  }

  .col-sm-8 .btn-link {
    margin-top: -10px;
  }

  .btn-link {
    color: $blue;

    span {
      text-decoration: underline;
      margin-right: 20px;
    }
  }

  .fa {
    font-size: 30px;
    color: $pink;
  }
}

.section-nav {
  margin-top: 60px;

  & > li > a {
    padding: 0 10px;
    font-size: 18px;
    color: $gray-1;
    font-family: $agora-m, sans-serif;

    &.active,
    &:hover,
    &:focus {
      background: none;
      color: $pink;
    }
  }
}

.news a {
  display: block;
  color: #000;

  &:hover,
  &:focus {
    text-decoration: none;
    .news__img {
      .row { display: block; }
    }
  }
}

.news__img {
  display: block;
  position: relative;

  .row {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: #fff;
  }

  .fa {
    margin-right: 5px;
  }
}

.news__category {
  display: block;
  margin: 5px 0 0;
  font-family: $agora-l, sans-serif;
}

.news__title {
  display: block;
  font-size: 21px;
  font-family: $agora-m, sans-serif;
}

.news__text {
  font-size: 16px;
}

.event-view {
  margin-top: 20px;
  margin-bottom: 100px;
  color: $gray-1;
}

.event-view__header {
  margin-bottom: 20px;

  a {
    font-size: 12px;
    text-decoration: underline;
  }
}

.event-view__time {
  font-size: 24px;
  color: $gray-1;
  font-family: $agora-l, sans-serif;
}

.event-view__title {
  margin: 0 0 20px;
  font-size: 48px;
  font-family: $agora-b, sans-serif;
  color: $gray-1;
  line-height: normal;
}

.event-view__description {
  margin-bottom: 30px;
  font-size: 18px;
  font-family: $agora-l, sans-serif;
}

.event-view__place {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: $agora-m, sans-serif;
}

.event-view__address {
  font-family: $agora-l, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;

  .fa {
    margin-right: 10px;
  }
}

.event-view__more {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: underline;
}

.event-view__scheme {
  font-size: 18px;
  font-family: $agora-l;
}

.event-view__scheme-frame {
  width: 635px;
  height: 370px;
}

.event-view__actions {
  margin-top: 20px;
  font-size: 18px;
  font-family: $agora-l, sans-serif;
}

.event-view__actions-selected {

}

.event-view__actions-line {
  border-bottom: 1px dotted $gray-2;
  @include clearfix;
  margin-top: -6px;
  margin-bottom: 35px;
}

.event-view__actions-selected-place,
.event-view__actions-selected-price {
  position: relative;
  top: 8px;
  background-color: #fff;
  font-family: $agora-m, sans-serif;
}

.event-view__summary {
  margin-top: 20px;

  .control-label {
    font-size: 24px;
    font-family: $agora-m, sans-serif;
  }

  .btn {
    margin-top: 20px;
  }
}
