.slider {
  margin-top: 5px;
  margin-left: 10px;
  width: 100%;
}

.slider-track {
  height: 8px;
  top: -4px;
  box-shadow: none;
  border: 1px solid $gray-1;
  background: #fff;
}

.slider-selection {
  background: $gray-2;
  box-shadow: none;
}

.slider-handle,
.slider-handle.round {
  width: 20px;
  height: 14px;
  border: 1px solid $gray-1;
  border-radius: 3px;
  margin-top: -3px !important;
  background: #fff;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(225,225,225,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
}
