.stat {
  p {
    font-size: 16px;
    font-family: $agora-l, sans-serif;

    .fa {
      color: $blue;
      vertical-align: middle;
    }
  }
}

.stat__title {
  font-size: 21px;
  font-family: $agora-m, sans-serif;
}

.stat-table {
  th,
  td {
    border: 0 !important;
  }

  td {
    color: $gray-1;
    font-size: 16px;
  }

  & > tbody > tr:hover {
    background-color: $blue;

    td, a {
      color: #fff;
    }
  }
}
