// Fonts
$agora-b: 'AgoraSansProBold';
$agora-r: 'AgoraSansProRegular';
$agora-l: 'AgoraSansProLight';
$agora-m: 'AgoraSansProMedium';

// Colors
$pink: #ec008a;
$blue: #0092d8;
$gray-1: #5d5d5d;
$gray-2: #b3b2b2;
