doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title За мной
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    include main-header-2
    
    article.event-view
      .container
        .row
          .col-lg-4
            img.responsive-img(src='http://lorempixel.com/370/370' alt='')
          .col-lg-8
            header.event-view__header.clearfix
              .event-view__time.pull-left
                strong 16 октября
                | &nbsp;
                | в 18:00
              
              a.pull-right(href='/') Назад к остальным событиям
            
            h1.event-view__title Щелкунчик
            .event-view__description
              | Балет Петра Чайковского в двух актах на либретто Мариуса Петипа по мотивам сказки Э. Т. А. Гофмана «Щелкунчик и мышиный король»
            
            .event-view__place Академический театр оперы и балета им. М. П. Мусоргского
            .event-view__address
              i.fa.fa-map-marker
              | ул. Большая Морская, д. 22 
              br
              | +7 (812) 335-75-75
            
            a.event-view__more(href='#') Читать подробнее
            
            .event-view__scheme Выберите билеты на интерактивной схеме ниже
            
            .event-view__scheme-frame
            
            .event-view__actions
              .event-view__actions-selected Вы выбрали
              .event-view__actions-line
                .event-view__actions-selected-place.pull-left Партер, ряд: 1, места: 18
                .event-view__actions-selected-price.pull-right 1000 руб.
            
            .event-view__summary
              .row
                .col-sm-6
                  label.control-label
                    | Итого 1000 руб. за 1 билет
                .col-sm-4
                  input.form-control(type='text' placeholder='Промокод или сертификат')
              
              .row
                .col-sm-4
                  button.btn.btn-primary.btn-block(type='submit') Перейти к оплате

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.ru.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.3/bootstrap-slider.min.js')
    script(src="scripts/app.js")
