form.event-search(action='' role='search')
  .container
    .row
      .col-sm-3
        .dropdown
          a.event-search__toggler#eventLabel(data-target='#' href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Подобрать мероприятие
            i.fa.fa-chevron-down
          ul.dropdown-menu(aria-labelledby='eventLabel')
            li: a(href='#') мероприятие 1
            li: a(href='#') мероприятие 2
            li: a(href='#') мероприятие 3
      .col-sm-4
        .row
          .col-sm-10
            input.event-search__field(type='search')
          .col-sm-2
            button(type='submit')
              i.fa.fa-search
  
