form.filter(action='')
  .container
    .row
      .col-lg-4
        .row
          .col-sm-6
            .form-group
              label.control-label Хочу посетить
              select.form-control
                option Все события
          .col-sm-6
            .form-group
              label.control-label Где
              select.form-control
                option Не важно
        
      .col-lg-3.filter__datepickers
        .row
          .col-sm-12
            label.control-label Когда
        .row
          .col-sm-1
            label.control-label с
          .form-group.col-sm-5
            input.form-control.datepicker(type='text' placeholder='12.11.2015')
            i.fa.fa-calendar
          .col-sm-1
            label.control-label по
          .form-group.col-sm-5
            input.form-control.datepicker(type='text' placeholder='12.11.2015')
            i.fa.fa-calendar
      .col-lg-2.filter__childs
        .row
          .col-sm-12
            label.control-label &nbsp;
        .row
          .col-sm-12
            label
              input(type='checkbox')
              span.control-label
                | &nbsp;
                | С детьми от
              | &nbsp;
              input.form-control(type='number' min='1' maxlength='2' placeholder='8')
              | &nbsp;
              span.control-label лет
      
      .col-lg-3
        .row
          .col-sm-12
            label.control-label Стоимость билета
        .row
          .col-sm-12
            input.filter-slider(type='text' data-slider-min='500' data-slider-max='6500' data-slider-value='[500, 3000]' data-slider-step='100')
            .row
              span.filter-slider__label.col-sm-6.pull-left от 500 руб.
              span.filter-slider__label.col-sm-6.pull-right до 6500 руб.
