footer.footer
  .container
    ul.nav.nav-pills.footer-nav
      li: a(href='') условия продажи
      li: a(href='') возврат билетов
      li: a(href='') кассы
      li: a(href='') договор оферты
      li: a(href='') вопросы
      li: a(href='') корпоративная покупка 
      
