doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title За мной
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    include top-menu
    include main-header
    include event-search
    
    section.history
      .container
        .row
          .col-lg-4
            h1.section-title Личный кабинет
            .profile-block
              .row
                .col-sm-4
                  img.profile-block__avatar(src='http://placehold.it/80' alt='')
                .col-sm-8
                  .profile-block__name
                    | Константин
                    br
                    | Константин
                    br
                    | Константин
                  
                  .profile-block__regdate с нами 3 месяца
                  
                  a.profile-block__edit(href='#') Редактировать профиль
          .col-lg-8
            .stat
              h4.stat__title История заказов
              p
                | Здесь хранятся данные о всех ваших билетах, приобретенных на zamnoi.ru. Вы всегда сможете скачать любой из них в формате pdf, нажав на иконку 
                i.fa.fa-cloud-download
                br
                | Спасибо, что вы с нами! 
              
              table.stat-table.table.table-hover.table-condensed
                thead
                  tr
                    th № заказа
                    th Событие
                    th Количество
                    th Стоимость
                    th Дата покупки
                    th Статус
                
                - var n = 0
                tbody
                  while n < 10
                    tr
                      td
                        | 666
                        a.pull-right(href='#pdf')
                          i.fa.fa-cloud-download
                      td великого масштаба              
                      td ограничено          
                      td запредельная                 
                      td никогда               
                      td все сложно
                    
                    - n++                 

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.ru.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.3/bootstrap-slider.min.js')
    script(src="scripts/app.js")
