doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title За мной
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    
    include top-menu
    include main-header
    include event-search
    include filter
    
    section.top-events
      .container
        .row
          .col-lg-8
            h1.section-title Иди.ЗаМной
            h4.section-sub-title
              | Популярные мероприятия
              a.pull-right(href='/events') Все мероприятия
            
            .row
              .col-lg-6
                a.event-link(href='/event')
                  img.img-responsive(src='http://lorempixel.com/370/500/nature' alt='')
                  span.event-link__description
                    span.row
                      span.col-sm-2 5
                      span.col-sm-10
                        | Ноября
                        br
                        | Лига Европы. Группа В.
                        | Рубин - Ливерпуль
                  
                  span.event-link__overlay
                    span.row
                      .col-sm-4
                        button.btn-link: i.fa.fa-share-square-o
                      .col-sm-8.text-right
                        button.btn-link
                          span Купить билеты
                          img(src='images/tickets.png' alt='')
              .col-lg-6
                a.event-link(href='/event')
                  img.img-responsive(src='http://lorempixel.com/370/500/nature' alt='')
                  span.event-link__description
                    span.row
                      span.col-sm-2 5
                      span.col-sm-10
                        | Ноября
                        br
                        | Лига Европы. Группа В.
                        | Рубин - Ливерпуль
                  
                  span.event-link__overlay
                    span.row
                      .col-sm-4
                        button.btn-link: i.fa.fa-share-square-o
                      .col-sm-8.text-right
                        button.btn-link
                          span Купить билеты
                          img(src='images/tickets.png' alt='')
                          
          .col-lg-4
            .datepicker-inline
            
            a.btn.btn-primary(href='/events') Посмотреть все мероприятия
            
            a.event-link(href='/event')
              img.img-responsive(src='http://lorempixel.com/370/250/nature' alt='')
              span.event-link__description
                span.row
                  span.col-sm-2 5
                  span.col-sm-10
                    | Ноября
                    br
                    | Лига Европы. Группа В.
                    | Рубин - Ливерпуль
              
              span.event-link__overlay
                span.row
                  .col-sm-4
                    button.btn-link: i.fa.fa-share-square-o
                  .col-sm-8.text-right
                    button.btn-link
                      span Купить билеты
                      img(src='images/tickets.png' alt='')
    
    section.top-events
      .container
        .row
          .col-lg-6
            h1.section-title Следи.ЗаМной
            h4.section-sub-title Самое интересное о жизни нашего города
          .col-lg-6
            ul.nav.nav-pills.section-nav
              li: a(href='#') News
              li: a(href='#') Check-In
              li: a(href='#') Inside
              li: a(href='#') Review
              li: a(href='#') People
              li: a(href='#') Weekend
              li: a(href='#') Afisha
        
        .row
          .col-lg-3
            article.news
              a(href='/news')
                span.news__img
                  img.img-responsive(src='http://lorempixel.com/274/160' alt='')
                  .row
                    .col-sm-4
                      i.fa.fa-eye
                      | 2548
                    .col-sm-4
                      i.fa.fa-comment
                      | 258
                
                span.news__category News
                
                span.news__title(role='heading') Интерактивный театр
                span.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          .col-lg-3
            article.news
              a(href='/news')
                span.news__img
                  img.img-responsive(src='http://lorempixel.com/274/160' alt='')
                  .row
                    .col-sm-4
                      i.fa.fa-eye
                      | 2548
                    .col-sm-4
                      i.fa.fa-comment
                      | 258
                
                span.news__category News
                
                span.news__title(role='heading') Интерактивный театр
                span.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
          .col-lg-3
            article.news
              a(href='/news')
                span.news__img
                  img.img-responsive(src='http://lorempixel.com/274/160' alt='')
                  .row
                    .col-sm-4
                      i.fa.fa-eye
                      | 2548
                    .col-sm-4
                      i.fa.fa-comment
                      | 258
                
                span.news__category News
                
                span.news__title(role='heading') Интерактивный театр
                span.news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
          .col-lg-3
            article.news
              a(href='/news')
                span.news__img
                  img.img-responsive(src='http://lorempixel.com/274/386' alt='')
    
    include footer
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.ru.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.2.3/bootstrap-slider.min.js')
    script(src="scripts/app.js")
