nav.navbar.navbar-default.main-header
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img(src='images/logo.png' alt='За мной')
      .main-header__tagline
        | Мы приведем вас
        br
        | на лучшие мероприятия
    
    .navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/shipment') Доставка
        li
          a(href='/about') О проекте
      
      ul.nav.navbar-nav.navbar-right
        li.main-menu__item.main-menu__socials
          a(href='#'): i.fa.fa-vk
          a(href='#'): i.fa.fa-instagram
          a(href='#'): i.fa.fa-envelope-o
        
        li.main-menu__item.main-menu__phone
          small телефон для справок
          span.phone 8 800 222 70 11
          a(href='#') Заказать звонок
          
        li.main-menu__item.main-menu__profile
          a.main-menu__profile-avatar(href='/profile')
            img(src='images/user.png' alt='КК')
          a.main-menu__profile-username(href='/profile')
            | Константин
            br
            | Константинопольский
          a.logout(href='/') Выйти
