nav.navbar.navbar-default.main-header
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img(src='images/logo.png' alt='За мной')
    
    .navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.main-menu__item.main-menu__phone
          small телефон для справок
          span.phone 8 800 222 70 11
          
        li.main-menu__item.main-menu__profile
          a.main-menu__profile-avatar(href='/profile')
            img(src='images/user.png' alt='КК')
          a.main-menu__profile-username(href='/profile')
            | Константин
            br
            | Константинопольский
          a.logout(href='/') Выйти
