.super-top
  .container
    ul.super-top__menu(role='menu')
      li.super-top__menu-item(role='menuitem')
        a.super-top__menu-link.active(href='/')
          strong Иди.ЗаМной
          | &nbsp;
          | Продажа билетов
      li.super-top__menu-item(role='menuitem')
        a.super-top__menu-link(href='/news')
          strong Следи.ЗаМной
          | &nbsp;
          | Новости города
